### Loopbacks

auto lo
iface lo inet loopback
    address {{ loopback_prefix_base }}.{{ leaf_id }}/32
    clagd-vxlan-anycast-ip {{ clagd_vxlan_anycast_ip }}
    vxlan-local-tunnelip {{ loopback_prefix_base }}.{{ leaf_id }}

auto mgmt
iface mgmt
    vrf-table auto
    address 127.0.0.1/8
    address ::1/128

### Management port

auto eth0
iface eth0 inet dhcp
    vrf mgmt

### VRFs

auto RED
iface RED
  vrf-table auto

auto BLUE
iface BLUE
  vrf-table auto

#### Bridge 

auto bridge
iface bridge
    bridge-ports peerlink
    bridge-ports bond1 bond2 bond3 bond4 bond5 bond6
    bridge-ports vni10 vni20 vni30 vniRED vniBLUE
    bridge-vids 10 20 30 4001 4002  
    bridge-vlan-aware yes

#### EVPN VNIs

### VLAN VNIs

auto vni10
iface vni10
    bridge-access 10
    vxlan-id 10
    mstpctl-portbpdufilter yes
    mstpctl-bpduguard yes
    bridge-learning off
    bridge-arp-nd-suppress on

auto vni20
iface vni20
    bridge-access 20
    vxlan-id 20
    mstpctl-portbpdufilter yes
    mstpctl-bpduguard yes
    bridge-learning off
    bridge-arp-nd-suppress on

auto vni30
iface vni30
    bridge-access 30
    vxlan-id 30
    mstpctl-portbpdufilter yes
    mstpctl-bpduguard yes
    bridge-learning off
    bridge-arp-nd-suppress on

### VRF VNIs

auto vniRED
iface vniRED
    bridge-access 4001
    vxlan-id 4001
    mstpctl-portbpdufilter yes
    mstpctl-bpduguard yes
    bridge-learning off
    bridge-arp-nd-suppress on

auto vniBLUE
iface vniBLUE
    bridge-access 4002
    vxlan-id 4002
    mstpctl-portbpdufilter yes
    mstpctl-bpduguard yes
    bridge-learning off
    bridge-arp-nd-suppress on

### VLAN SVIs 

auto vlan10
iface vlan10
    address {{ svi_prefix_base }}.10.{{ clag_member_num + 1 }}/24
    address-virtual 00:00:00:00:00:1a {{ svi_prefix_base }}.10.1/24
    vrf RED
    vlan-raw-device bridge
    vlan-id 10

auto vlan20
iface vlan20
    address {{ svi_prefix_base }}.20.{{ clag_member_num + 1 }}/24
    address-virtual 00:00:00:00:00:1b {{ svi_prefix_base }}.20.1/24
    vrf RED
    vlan-raw-device bridge
    vlan-id 20

auto vlan30
iface vlan30
    address {{ svi_prefix_base }}.30.{{ clag_member_num + 1 }}/24
    address-virtual 00:00:00:00:00:1c {{ svi_prefix_base }}.30.1/24
    vrf BLUE
    vlan-raw-device bridge
    vlan-id 30

auto vlan4001
iface vlan4001
    hwaddress 44:38:39:BE:EF:AA
    vrf RED
    vlan-raw-device bridge
    vlan-id 4001

auto vlan4002
iface vlan4002
    hwaddress 44:38:39:BE:EF:AA
    vrf BLUE
    vlan-raw-device bridge
    vlan-id 4002

#### CLAG/MLAG/VPC/Wotever you call it

auto swp13
iface swp13
    alias peerlink

auto swp14
iface swp14
    alias peerlink

auto peerlink
iface peerlink
    bond-slaves swp13 swp14

auto peerlink.4094
iface peerlink.4094
    clagd-backup-ip {{ clagd_vxlan_peer_ip }}
    clagd-peer-ip linklocal
    clagd-priority 1000
    clagd-sys-mac 44:38:39:BE:EF:AA

#### spines

auto swp15
iface swp15
    alias spine1

auto swp16
iface swp16
    alias spine2

auto swp1
iface swp1
    alias bond member of bond1
    mtu 9000

auto bond1
iface bond1
    alias bond1 on swp1
    mtu 9000
    clag-id 1
    bridge-vids 10,20
    bond-slaves swp1
    bond-lacp-bypass-allow yes
    mstpctl-bpduguard yes
    mstpctl-portadminedge yes

auto swp2
iface swp2
    alias bond member of bond2
    mtu 9000

auto bond2
iface bond2
    alias bond2 on swp2
    mtu 9000
    clag-id 2
    bridge-vids 10,20
    bond-slaves swp2
    bond-lacp-bypass-allow yes
    mstpctl-bpduguard yes
    mstpctl-portadminedge yes

auto swp3
iface swp3
    alias bond member of bond3
    mtu 9000

auto bond3
iface bond3
    alias bond3 on swp3
    mtu 9000
    clag-id 3
    bridge-vids 10,20
    bond-slaves swp3
    bond-lacp-bypass-allow yes
    mstpctl-bpduguard yes
    mstpctl-portadminedge yes

auto swp4
iface swp4
    alias bond member of bond4
    mtu 9000

auto bond4
iface bond4
    alias bond4 on swp4
    mtu 9000
    clag-id 4
    bridge-vids 10,20
    bond-slaves swp4
    bond-lacp-bypass-allow yes
    mstpctl-bpduguard yes
    mstpctl-portadminedge yes

auto swp5
iface swp5
    alias bond member of bond5
    mtu 9000

auto bond5
iface bond5
    alias bond5 on swp5
    mtu 9000
    clag-id 5
    bridge-vids 10,20
    bond-slaves swp5
    bond-lacp-bypass-allow yes
    mstpctl-bpduguard yes
    mstpctl-portadminedge yes

auto swp6
iface swp6
    alias bond member of bond6
    mtu 9000

auto bond6
iface bond6
    alias bond5 on swp6
    mtu 9000
    clag-id 6
    bridge-vids 10,20
    bond-slaves swp6
    bond-lacp-bypass-allow yes
    mstpctl-bpduguard yes
    mstpctl-portadminedge yes

